<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
      <div class="mb-3">
        <label for="nameSurname" class="form-label">Ad Soyad</label>
        <input type="text" class="form-control" id="firstNameLastName" formControlName="nameSurname"
          aria-describedby="adSoyad" placeholder="Ad Soyad" [ngClass]="{
            'is-invalid': submitted && component.nameSurname.errors}" />
        <div class="form-text invalid-feedback" *ngIf="submitted && component.nameSurname.errors?.required">
          Lütfen Ad Soyad alanını boş geçmeyiniz.
        </div>
        <div class="form-text invalid-feedback"
          *ngIf="submitted && (component.nameSurname.errors?.maxlength || component.nameSurname.errors?.minlength)">
          Ad Soyad alanı 3 karakterden az, 50 karakterden fazla olamaz.
        </div>
      </div>


      <div class="mb-3">
        <label for="userName" class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" id="userName" formControlName="userName" aria-describedby="kullaniciAdi"
          placeholder="Kullanıcı Adı" [ngClass]="{
            'is-invalid': submitted && component.userName.errors}" />
        <div class="form-text invalid-feedback" *ngIf="submitted && component.userName.errors?.required">
          Lütfen Kullanıcı Adı alanını boş geçmeyiniz.
        </div>
        <div class="form-text invalid-feedback"
          *ngIf="submitted && (component.userName.errors?.maxlength || component.userName.errors?.minlength)">
          Kullanıcı Adı alanı 3 karakterden az, 50 karakterden fazla olamaz.
        </div>
      </div>


      <div class=" mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="email"
          placeholder="Email" [ngClass]="{
          'is-invalid': submitted && component.email.errors}" />
        <div class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.required">
          Lütfen Email alanını boş geçmeyiniz.
        </div>
        <div class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.email">
          Lütfen Email alanını uygun formatta giriniz.
        </div>
        <div class="form-text invalid-feedback" *ngIf="submitted && (component.email.errors?.maxlengt)">
          Email alanı 250 karakterden fazla olamaz.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Şifre"
          [ngClass]="{
          'is-invalid': submitted && component.password.errors}" />
      </div>

      <div class="mb-3">
        <label for="passwordConfirm" class="form-label">Şifre Tekrarı</label>
        <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm"
          placeholder="Şifre Tekrarı" [ngClass]="{
            'is-invalid': submitted && component.passwordConfirm.errors}" />
        <div *ngIf="submitted && frm.hasError('notSame')">
          Girilen Şifreler uyuşmuyor. Lütfen tekrar kontrol ediniz.
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
  </div>
</div>
